.department-select {
  padding: 10px 14px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  color: #333;
  max-width: 300px;
  width: 100%;
  box-sizing: border-box;
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='gray' height='16' viewBox='0 0 24 24' width='16' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px 16px;


  &:focus {
    outline: none;
    border-color: #1766c1;
    box-shadow: 0 0 0 2px rgba(0, 119, 255, 0.2);
  }
  option {
    background-color: #a4c2ff; 
  }

}